{% extends 'base.html' %}
{% block title %}Lista de Receptores{% endblock %}
{% block content %}
<h2>Lista de Receptores</h2>
<a href="{% url 'cadastrar_receptor' %}" class="btn btn-primary mb-3">Novo Receptor</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Tipo Sanguíneo</th>
            <th>Órgão Necessário</th>
            <th>Idade</th>
            <th>Gravidade</th>
            <th>Posição</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for receptor in receptores %}
        <tr>
            <td>{{ receptor.nome }}</td>
            <td>{{ receptor.tipo_sanguineo }}</td>
            <td>{{ receptor.orgao_necessario }}</td>
            <td>{{ receptor.idade }}</td>
            <td>{{ receptor.gravidade_condicao }}</td>
            <td>{{ receptor.posicao_lista_espera }}</td>
            <td>
                <a href="{% url 'editar_receptor' receptor.pk %}" class="btn btn-sm btn-warning">Editar</a>
                <a href="{% url 'deletar_receptor' receptor.pk %}" class="btn btn-sm btn-danger">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}