{% extends 'base.html' %}
{% block title %}Cadastrar Usuário{% endblock %}
{% block content %}
<h2>Cadastrar Usuário</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Salvar</button>
    <a href="{% url 'login_administrador' %}" class="btn btn-secondary">Cancelar</a>
</form>
<script>
    document.addEventListener('DOMContentLoaded', function () {
    const profissaoSelect = document.querySelector('select[name="profissao"]');
    const outraProfDiv = document.querySelector('input[name="outra_profissao"]').closest('p');

    function toggleOutraProfissao() {
    if (profissaoSelect.value === 'Outra') {
        outraProfDiv.style.display = 'block';
    } else {
        outraProfDiv.style.display = 'none';
        document.querySelector('input[name="outra_profissao"]').value = '';
    }
    }

    toggleOutraProfissao();  // Executa ao carregar
    profissaoSelect.addEventListener('change', toggleOutraProfissao);
    });
</script>
{% endblock %}